@media (orientation: portrait) {
    .logo_container{
        height: 135.55vw;
        position: relative;
    }  

    .color_logo{
        height: 135.55vw;
    }
/* 
    .color_logo_1{
        border-bottom-left-radius: 9.44vw;
    }

    .color_logo_4{
        border-bottom-right-radius: 9.44vw;
    } */

    .img_logo_1,.img_logo_2,.img_logo_3,.img_logo_4{
        bottom: 0vw !important;
        top: unset;
    }

    .img_logo_5{
        height: 52.31vw;
        width: 58.61vw;
        left: 20.695vw;
        top: 30.55vw;
    }

    .rel_box{
        height: 100%;
        width: 100%;
    }

    .cabi_font_1{
        font-size: 14.75vw;
        line-height: 11.5vw;
    }

    .cabi_font_2{
        font-size: 23vw;
        line-height: 18vw;
    }

    .cabi_font_3{
        font-size: 10.27vw;
    }

    .cabi_font_4{
        font-size: 5.20vw;
        line-height: 5vw;
    }

    .mons_font_1{
        font-size: 10.27vw;
        text-wrap: nowrap;
        line-height: 20vw;
    }

    .mons_font_2{
        font-size: 5.20vw;
        text-wrap: nowrap;
        line-height: 0vw;
    }

    .quotes_container{
        height: 91.94vw;
    }

    .quotes_box{
        height: 48.33vw;
        width: 90.76vw;
    }

    .mobile_quotes{
        display: flex;
        flex-direction: row;
        margin: 6vw 0vw;
    }

    .quotes_img{
        display: block;
        height: 11.425vw;
        width: 16.61vw;
    }

    .quotes_img_left{
        margin-right: 1.2vw;
    }

    .quotes_img_right{
        margin-left: 1.2vw;
    }

    .line_1{
        font-size: 5.55vw;
    }

    .line_2{
        font-size: 7.54vw;
        text-align: center;
    }

    .desktop_line{
        display: none;
    }

    .mobile_line{
        display: block;
    }

    .mobile_line_2{
        display: flex;
    }

    .show_content{
        display: flex;
    }

    .line_3,.line_4{
        font-size: 3.33vw;
    }

    .shadow_box{
        display: none;
    }

    .f_size_12{
        font-size: 3.34vw;
    }

    .roadmap_txt{
        color: #812046;
        padding-right: 5vw;
    }

    .see_txt{
        color: #812046;
    }

    .comm_comp{
        height: 48.05vw;
        width: 88.88vw;
        border-radius: 2.77vw;
    }

    .our_comm{
        font-size: 6.66vw;
    }

    .comm_post_container{
        height: 218.88vw;
    }

    .comp_title,.comp_title_2{
        font-size: 5vw;
    }

    .lok_sabha,.league{
        height: 19.56vw;
        width: auto;
    }

    .left_box{
        width: 29.44vw;
    }

    .right_box{
        width: 63.88vw;
    }

    .pie_chart_container{
        height: 127.77vw;
    }

    .pie_circle_1{
        height: 38.87vw;
        width: 38.87vw;
        top: 22.22vw;
        left: 41.30vw;
    }

    .pie_circle_2{
        height: 30.45vw;
        width: 30.45vw;
        top: 50.27vw;
        left: 16.20vw;
    }

    .pie_circle_3{
        height: 21.76vw;
        width: 21.76vw;
        top: 74.16vw;
        left: 42.28vw;
    }

    .sep_class_1{
        font-size: 10.99vw;
    }

    .sep_class_2{
        font-size: 8.61vw;
    }

    .sep_class_3{
        font-size: 6.15vw;
    }

    .heading_line,.para_line{
        font-size: 3.33vw;
    }

    .display_type{
        display: none;
    }

    .head_lorem{
        font-size: 4.44vw;
    }

    .zero_line{
        display: none;
    }

    .line_box_1{
        top: 39vw;
        left: 21.7vw;
    }

    .line_box_2{
        top: 32vw;
        right: 19.62vw;   
    }

    .line_box_3{
        width: 40vw;
        top: 23vw;
        left: 6.9vw;
    }

    .reviews_container{
        height: 67.5vw;
    }
}