@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Cabinet;
    src: url("./resources/CabinetGrotesk-Black.otf");
}

:root {
    --ff-mons: "Montserrat", sans-serif;
    --ff-cabi: Cabinet;
    --f-color-b: #3245A9;
    --f-color-r: #F22949;
}

.mons_font {
    font-family: var(--ff-mons);
}

.cabi_font {
    font-family: var(--ff-cabi);
}

.all_font {
    margin-block-start: 0;
    margin-block-end: 0;
}

.mun_container {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logo_container {
    height: 48.47vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.color_logo {
    height: 48.47vw;
    width: 25vw;
}

.color_logo_1 {
    background-color: #FED470;
}

.color_logo_2 {
    background-color: #A0EDC9;
}

.color_logo_3 {
    background-color: #AAB4E7;
}

.color_logo_4 {
    background-color: #F8506B;
}

.img_logo {
    position: absolute;
}

.img_logo_1 {
    width: 19.23vw;
    height: 38.02vw;
    top: 10.5vw;
    left: 10.8vw;
}

.img_logo_2 {
    width: 18.90vw;
    height: 37.40vw;
    top: 11.1vw;
    left: 24.8vw;
}

.img_logo_3 {
    width: 47.92vw;
    height: 34.58vw;
    top: 14vw;
    left: 35vw;
}

.img_logo_4 {
    width: 23.06vw;
    height: 40.21vw;
    top: 8.3vw;
    left: 67.7vw;
}

.img_logo_5 {
    width: 19.94vw;
    height: 17.85vw;
    top: 7vw;
    left: 40.03vw;
    box-sizing: border-box;
}

.rel_box {
    position: relative;
    width: 19.94vw;
    height: 17.85vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.font_logo {
    color: white;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.cabi_font_1 {
    font-family: var(--ff-cabi);
    font-size: 5.03vw;
    line-height: 4vw;
}

.cabi_font_2 {
    font-family: var(--ff-cabi);
    font-size: 7.84vw;
    line-height: 6vw;
}

.mons_font_1 {
    font-family: var(--ff-mons);
    font-size: 3.46vw;
    margin-top: 4vw;
    font-weight: 500;
    line-height: 6vw;
}

.mons_font_2 {
    font-family: var(--ff-mons);
    font-size: 1.77vw;
    margin: 0;
    line-height: 4vw;
    font-weight: 500;
    line-height: 2vw;
}

.quotes_container {
    height: 37.17vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotes_box {
    height: 13.57vw;
    width: 71.20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.font_cal {
    color: var(--f-color-b);
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;

}

.line_1 {
    font-size: 2.15vw;
}

.line_2 {
    font-size: 3.60vw;
    line-height: 7.6vw;
}

.line_3,
.line_4 {
    font-size: 1.38vw;
}

.comm_title_box {
    height: 6.45vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our_comm {
    font-size: 3.57vw;
    line-height: 3.6vw;
    color: var(--f-color-b);
    margin-left: 4.84vw;
    margin-bottom: -0.5vw;
}

.shadow_box {
    height: 2.77vw;
    width: 100vw;
    background-color: white;
    box-shadow: inset 0 1vw 1vw -1vw rgb(0, 0, 0, 0.3);
}

.comm_post_container {
    height: 124.26vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #E0F9EE;
}

.comm_comp {
    height: 23.81vw;
    width: 69.25vw;
    border-radius: 0.589vw;
    box-shadow: 0 0 1.5vw rgb(0, 0, 0, 0.16);
    display: flex;
    flex-direction: row;
}

.left_box {
    width: 21.39vw;
    height: 100%;
    border-top-left-radius: 0.589vw;
    border-bottom-left-radius: 0.589vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.right_box {
    position: relative;
    width: 47.86vw;
    height: 100%;
    border-top-right-radius: 0.589vw;
    border-bottom-right-radius: 0.589vw;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
}

.center_box {
    height: 16.50vw;
    width: auto;
    box-sizing: border-box;
    z-index: 1;
}

.comp_lorem {
    font-size: 0.918vw;
    width: 40vw;
}

.comp_title {
    font-size: 2.82vw;
    margin-bottom: 2vw;
    text-align: center;
}

.comp_title_2 {
    font-size: 2.82vw;
    margin-bottom: 0.8vw;
    text-align: center;
}

.lok_sabha {
    width: 8.27vw;
    height: auto;
}

.league{
    width: 12.14vw;
    height: auto;
}

.head_lorem {
    font-size: 1.88vw;
    margin-top: 3.8vw;
    margin-bottom: 0.2vw;
}

.lower_para {
    width: 33vw;
}


.img_1 {
    height: auto;
    width: 30.7vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

.img_2 {
    height: auto;
    width: 10.84vw;
    position: absolute;
    bottom: 0;
    right: 1.2vw;
}

.apply_button {
    height: 3.86vw;
    width: 13.85vw;
    background-color: var(--f-color-r);
    font-size: 1.17vw;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 1.17vw;
    border-bottom-right-radius: 0.589vw;
    z-index: 2;
}

.cf1 {
    color: var(--f-color-r);
}

.cf2{
    color: #3245A9;
}

.bg2{
    background-color: #3245A9;
}

.pie_chart_container {
    height: 60.13vw;
    width: 100vw;
    position: relative;
}

.pie_circle_1 {
    height: 22vw;
    width: 22vw;
    background-color: #F8506B;
    border-radius: 50%;
    left: 43.84vw;
    top: 13.95vw;
}

.sep_class_1 {
    font-size: 6.22vw;
}

.pie_circle_2 {
    height: 17.24vw;
    width: 17.24vw;
    background-color: #AAB4E7;
    border-radius: 50%;
    left: 29.63vw;
    top: 24.96vw;
}

.sep_class_2 {
    font-size: 4.87vw;
}

.pie_circle_3 {
    height: 12.32vw;
    width: 12.32vw;
    background-color: #A0EDC9;
    border-radius: 50%;
    left: 44.4vw;
    top: 33.56vw;
}

.sep_class_3 {
    font-size: 3.46vw;
}

.align_center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sep_class_1,
.sep_class_2,
.sep_class_3 {
    color: white;
}

.para_line {
    color: #192463;
    font-size: 1.1vw;
}

.heading_line {
    color: #192463;
    font-size: 1.1vw;
}

.zero_line{
    height: 0;
    width: 100%;
    border: 0.069vw solid #192463;
    opacity: 0.37;
}

.line_box{
    position: absolute;
}

.line_box_1{
    width: 30.19vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    top: 14vw;
    left: 3.7vw;
}

.line_box_2{
    width: 20.22vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 11vw;
    right: 4.62vw;
}

.line_box_3{
    width: 24.30vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    top: 8vw;
    left: 3.9vw;
}

.ff_1{
    margin-right: 4.1vw;
}

.ff_2{
    margin-left: 2.65vw;
}

.ff_3{
    margin-right: 1.95vw;
}

.boldness{
    font-weight: 450;
}

.review_f_size{
    font-size: 1vw;
}

.review_f_size_2{
    font-size: 0.896vw;
}

.review_f_size_3{
    font-size: 0.828vw;
}

.review_f_size_4{
    font-size: 0.74vw;
}
.sponsor_logo{

display: flex;
flex-direction: row;
justify-content: space-around;
margin-bottom: 10vw;
margin-top: 5vw;
}

.sponsorone{
    margin-left: 13%;
}
.sponsorthree{
    margin-right: 13%;
}
.s_logo1{
    height: 10vw;
    width: 10vw;
}
.s_logo3{
    height: 10vw;
    width: 10vw;
}
.collabtitle{
    font-size: 2.57vw !important;
}
.review_container{
    overflow: hidden;
display: flex;
justify-content: center;;
align-items: center;
 background-color: #FFC2AF!important;
 margin-bottom: 4vw;
 }
.carosol_container{
width: 75% !important;

height: 17.28vw;
margin-top: 1vw;


}
.modified{
    background-color: #FFC2AF;
}
.reel_container{
    border-radius: 2vw;
}
.color{
    position: absolute !important;;
    z-index: 999;
    background-color: #FFC2AF;
    height: 3vw;
}


