.reviews_container{
    height: 26.56vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviews_box{
    height: 17.28vw;
    width: 64.40vw;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pointer{
    height: 2.24vw;
    width: 1vw;
    margin: 0vw 2vw;
}

.pointer:hover{
    cursor: pointer;
}

.rectangle{
    width: 100%;
    height: auto;
    border-radius: 0.832vw 0.832vw 0 0;
}

.rectangle_2{
    width: 23.99vw;
    height: auto;
    border-radius: 0.74vw 0.74vw 0 0;
}

.rectangle_3{
    width: 22.17vw;
    height: auto;
    border-radius: 0.69vw 0.69vw 0 0;
}

.rectangle_4{
    width: 19.81vw;
    height: auto;
    border-radius: 0.61vw 0.61vw 0 0;
}

.male_profile{
    height: auto;
    width: 3.16vw;
    position: absolute;
    top: 1.5vw;
    left: 1vw;
}

.male_profile_2{
    height: auto;
    width: 2.84vw;
    position: absolute;
    top: 1.34vw;
    left: 1.34vw;
}

.male_profile_3{
    height: auto;
    width: 2.62vw;
    position: absolute;
    top: 1.24vw;
    left: 1.24vw;
}

.male_profile_4{
    height: auto;
    width: 2.34vw;
    position: absolute;
    top: 1.11vw;
    left: 1.11vw;
}

.bio_heading{
    position: absolute;
    top: 1.85vw;
    left: 5vw;
}

.bio_heading_2{
    position: absolute;
    top: 1.5vw;
    left: 5vw;
}

.bio_heading_3{
    position: absolute;
    top: 1.5vw;
    left: 4.5vw;
}

.bio_heading_4{
    position: absolute;
    top: 1.5vw;
    left: 4vw;
}

.comment{
    margin: 0 1.8vw;
    position: absolute;
    top: 7vw;
    font-weight: 450;
}

.comment_2{
    margin: 0 1.5vw;
    position: absolute;
    top: 6.5vw;
}

.comment_3{
    margin: 0 1.5vw;
    position: absolute;
    top: 6.25vw;
}

.comment_4{
    margin: 0 1.5vw;
    position: absolute;
    top: 5.5vw;
}

.stars_box{
    height: 0.83vw;
    width: 7.06vw;
    position: absolute;
    bottom: 1.3vw;
    right: 2vw;
}


.review_card_cat_1{
    height: 17.28vw;
    width: 26.73vw;
    position: absolute;
    border-radius: 0.832vw;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 1.5vw rgb(0, 0, 0, 0.16);
}

.review_card_cat_2{
    height: 15.51vw;
    width: 23.99vw;
    position: absolute;
    border-radius: 0.74vw;
    z-index: 9;
    background-color: white;
    filter: blur(0.05vw);
    box-shadow: 0 0 1.5vw rgb(0, 0, 0, 0.16);
}

.review_card_cat_3{
    height: 14.33vw;
    width: 22.17vw;
    position: absolute;
    border-radius: 0.69vw;
    z-index: 8;
    background-color: white;
    filter: blur(0.1vw);
    box-shadow: 0 0 1.5vw rgb(0, 0, 0, 0.16);
}

.review_card_cat_4{
    height: 12.81vw;
    width: 19.81vw;
    position: absolute;
    border-radius: 0.61vw;
    z-index: 7;
    background-color: white;
    filter: blur(0.2vw);
    box-shadow: 0 0 1.5vw rgb(0, 0, 0, 0.16);
}

.review_card_cat_5{
    display: none;
}

.position_r1{
  right: 12.552vw;
}

.position_l1{
  left: 12.552vw;
}

.position_r2{
    right: 6.276vw;
}

.position_l2{
    left: 6.276vw;
}

.position_r3{
    right: 0;
}

.position_l3{
    left: 0;
}