@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.timeline{
    overflow-x: hidden;
    overscroll-behavior-x: hidden;
    position: relative;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    margin: 100px 0px;
}
.timeline::after{
    content: '';
    height: 74%;
    width: 6px;
    color: black;
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(to bottom, #9A9CE9, #9A9CE9 50%, transparent 50%, transparent 100%);
    background-size: 6px 50px;
    top: 9.5%;
    left: calc(50% - 3px);
}
.container{
    position: relative;
    width: 50%;
    
}
.side{
    position: absolute;
    width: 208px;
    height:164px;
    /* background-image: url('../../assets/prevEditions/arrow.svg'); */
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    background-color: #9A9CE9;
}

/* 
.arrow{
    width: 0;
    height: 0;
    border: 82px solid transparent;
    border-left: 0;
    border-right: 164px solid #6E7FD6;
    border-radius: 5px;
    transform: translateX(-160px);
}*/
.arrow{
    position: absolute;
    transform: rotateZ(180deg) translateX(50%);
    z-index: -1;
}
.year, .edition{
    margin: 0;
    transform: translate(-45%,-15px);
    color: white;
}
.year{
    font-size: 95px;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
}
.edition{
    font-size: 49px;
    text-wrap:nowrap;
    font-family: "Montserrat", sans-serif;;
}
.container:nth-child(odd){
    left: 0;
    padding: 10px 20px 10px 5px;
}
.container:nth-child(even){
    left: 50%;
    padding: 10px 5px 10px 20px;
}
.container:nth-child(odd) .side{
    /* background-color: #6E7FD6; */
    position: absolute;
    right: -410px;
    top: 30%;
}
.container:nth-child(even) .side{
    position: absolute;
    left: -410px;
    top: 30%;
}
.container:nth-child(even) .arrow{
    transform: rotateZ(0deg) ;
    left:12%;
}
.container:nth-child(odd) .side .circle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -217px;
}
.container:nth-child(even) .side .circle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -217px;
}
.container:nth-child(even) .year{
    transform: translate(40%,-15px);
}
.container:nth-child(even) .edition{
    transform: translate(25%,-15px);
}

@media screen and (max-width:900px) {
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left:31px;
        height: 75%;
        top: 3%;
    }
    .side{
        z-index: 100;
        left: 228px;
        transform: translateY(-350px);
    }
    .modal{
        margin-top: 250px;
        margin-left: 60px; 
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .container{
       width: 95%;
    }
    .container:nth-child(odd){
        left: 40px;
    }
    .container:nth-child(even){
        left: 40px;
    }
    .container:nth-child(even) .side .circle{
        left: 380px;
        background-color: #9A9CE9;
        z-index: 30;
    }
    .container:nth-child(odd) .side .circle{
        left: -259px;
        background-color: #9A9CE9;
        z-index: 30;
    }
    .container:nth-child(even) .side .arrow{
        transform: rotateZ(180deg);
        left: 420px;
    }
    .container:nth-child(odd) .side .arrow{
        transform: rotateZ(180deg);
        left: -220px;
    }
    .container:nth-child(even) .year{
        transform: translate(240%,-15px);
    }
    .container:nth-child(even) .edition{
        transform: translate(240%,-15px);
    }
    .container:nth-child(odd) .year{
        transform: translate(-60%,-15px);
    }
    .container:nth-child(odd) .edition{
        transform: translate(-60%,-15px);
    }
}

@media screen and (max-width:600px){
    .modal{
        margin-left: 10px;
        margin-right: 5px;
    }
    .arrow{
        height: 120px;
        width: 260px;;
    }
    .year{
        font-size: 64px;
    }
    .edition{
        font-size: 36px;
    }
    .container:nth-child(even) .side .arrow{
        transform: rotateZ(180deg) translateY(-20px);
        left: 420px;
    }
    .container:nth-child(odd) .side .arrow{
        transform: rotateZ(180deg) translateY(-20px);
        left: -220px;
    }
    .container:nth-child(even) .year{
        transform: translate(235%,8px);
    }
    .container:nth-child(even) .edition{
        transform: translate(235%,8px);
    }
    .container:nth-child(odd) .year{
        transform: translate(-75%,8px);
    }
    .container:nth-child(odd) .edition{
        transform: translate(-75%,8px);
    }
}
@media screen and (max-width:480px){
    .timeline::after{
        height: 74.7%;
        top: 3.2%;
    }
}