@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.box{
    position: relative;
    background-color: #E6E9F8;
}

.superContainer{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: #E6E9F8 2px;
}
.superContainer:nth-child(n):after{
    content: '';
    width: 93%;
    height: 1px;
    background: #6E7FD6;
}
.superContainer:nth-child(4n):after{
    background: #E6E9F8;
}
.container{
    display: flex;
    flex: row;
    padding: 20px;
    margin: 0px;
}
.imgContainer{
    display: flex;
    flex-direction: column;
    min-width: 125px;
    width: 162px;
    padding: 0px 50px;
    align-items: center;
    justify-content: center;
}

.img{
    width: 56.4px;
}

.title{
    text-wrap: nowrap;
    margin: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #6E7FD6;
}

.verticalHR{
    height: 215px;
    width: 16px;
    background: #6E7FD6;
    border-radius: 10px;
    margin: 0px 10px;
}
.line{
    margin: 0px;
    width: 93%;
    height: 1.5px;
    color: #6E7FD6;
    background-color: #6E7FD6;
    border: 2px #6E7FD6;
    border-radius: 5px;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 10px;
}
.agenda{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #6E7FD6;
    margin: 3px 0px;
}
.description{
    font-size: 12px;
    color: #192463;
    font-weight: light;
    line-height: 20px;
    margin-left: 8px;
    margin-bottom: 10px;
}
.button{
    background-color: #9A9CE9;
    padding: 12px 15px 12px 18px;
    border-radius: 4px;
    color: white;
}
.link{
    width: contain;
    height: contain;
}
