.container-main2 {
  background-color: #051c46;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.footer-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 2%;
  row-gap: 15%;
  column-gap: 10%;
}

p {
  margin: 1px;
}

.footer-heading {
  font-weight: bold;
  font-size: large;
}

.footer-social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-logo {
  width: 15%;
  margin: 2%;
}

.footer-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
